@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";

* {
  box-sizing: border-box;
  font-family: "Syne Mono", monospace !important;
  outline: none !important;

  h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3,
  p,
  i {
    color: $color__tertiary;
  }
}

body {
  background-color: $color__primary;
}

::-webkit-scrollbar {
  @include transition(all, .5s);
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(198, 198, 198);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

nav {
  @include position;
  justify-content: space-between;
  padding: 10px 50px;
  width: 100%;
  background-color: $color__secondary;
  box-shadow: 0 0.5px 4px -2px #808080;

  img {
    width: 75px;
  }

  ul {
    @include position;
    flex-direction: row;
    column-gap: 200px;

    i {
      color: $color__tertiary;

      &:hover {
        color: $color__tertiary__hover;
      }
    }

    i::before {
      @include transition(color, 0.25s);
      font-size: 32px;
    }

    li#main,
    li#basket {
      pointer-events: none;
      // opacity: 0.4;
    }

    li#likes {
      position: relative;
    }

    #likes__notif {
      position: absolute;
      visibility: hidden;
      top: 1px;
      right: -3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ff0000;
    }
  }
}

main {
  @include position;
  flex-direction: column;
  max-width: 1300px;
  margin: 100px auto;

  div.main__description {
    margin-bottom: 100px;
  }

  div.home__container {
    text-align: left;
    width: 100%;

    h1 {
      margin-left: 100px;
    }
  }

  // search bar
  #search {
    @include transition(box-shadow, 0.15);
    background-color: #fff;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    width: 20%;
    min-width: 150px;
  }

  #search:focus {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .card__wrap__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  // cards
  div.card__container {
    @include position;
    align-items: initial;
    flex-wrap: wrap;
    width: 75%;
  }

  div.card {
    @include transition(transform, 0.5s);
    background-color: $color__secondary;
    margin: 20px;
    width: 250px;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
      0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);

    &:hover {
      @include scale(1.2);
    }
  }

  .card__description {
    position: relative;
    background-color: $color__secondary;
  }

  .fadedbox {
    @include transition(all, 0.25s, ease-out);
    position: absolute;
    background: linear-gradient(to top, $color__secondary 25%, transparent);
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
  }

  .card:hover .fadedbox,
  .card:hover .show {
    @include translateY(0px);
    opacity: 1;
  }

  .show {
    @include transition(all, 0.25s, ease-out);
  }

  img {
    width: 250px;
  }

  div.item__text {
    @include translateY(15px);
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    padding: 20px;

    .item__description {
      width: 100%;
      text-align: left;
    }

    .item__points {
      width: 100%;
      text-align: right;

      span {
        background-color: $color__important;
        color: #fff;
        border-radius: 4px;
        padding: 5px;
        font-size: 11px;
      }
    }
  }

  .card__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: $color__secondary;

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $color__secondary;
      position: absolute;
      top: -11px;
      right: 13%;
    }

    input {
      display: none;
    }

    input:checked+label i::before {
      @include transition(all, 0.25s);
      @include scale(1.2);
      color: #ff0000;
    }

    .like__container {
      label {
        background-color: $color__secondary;

        i {
          @include transition(color, 0.25s);
          font-size: 20px;
        }

        i:hover {
          color: rgba(255, 0, 0, 0.3);
        }
      }
    }

    .basket__container {
      button {
        @include transition(transform, 0.25s);
        background-color: $color__secondary;
        border: none;

        &:hover {
          @include scale(1.3);
        }

        i {
          @include transition(color, 0.25s);
          font-size: 20px;
        }

        i:hover {
          color: #019875;
        }
      }
    }
  }

  .shopping__container {
    @include position;
    align-items: flex-start;
    flex-direction: column;
    background-color: $color__important;
    width: 30%;
    height: auto;
    padding: 30px;
    border-radius: 6px;
    row-gap: 20px;
    max-height: 59vh;

    ::-webkit-scrollbar-thumb {
      display: none;
    }

    &:hover {
      ::-webkit-scrollbar-thumb {
        background: rgb(198, 198, 198);
        display: inherit;
      }

      ::-webkit-scrollbar {
        width: 5px;
      }
    }

    .overflow {
      overflow: overlay;
      border-top: 3px solid rgba(0, 0, 0, 0.5);
      border-bottom: 3px solid rgba(0, 0, 0, 0.5);
      padding: 0 20px;
    }

    .items__container {
      @include position;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      border-bottom: 2px solid rgb(198, 198, 198, .3);
      width: 100%;
      padding: 20px 0;
    }

    .card__img {
      width: 100px;
      height: auto;
      aspect-ratio: 1 / 1;
      margin-right: 15px;
      border-radius: 40%;
    }

    .items__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: inherit;

      .text {
        @include position;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 10px;
      }

      hr {
        width: 100%;
        height: 10px;
        border: none;
      }

      .quantity {
        @include position;
        justify-content: end;
        align-items: flex-end;
        column-gap: 7px;
      }

      .items__text__description {
        font-weight: bold;
        text-align: left;
      }

      .items__text__points {
        background-color: rgba(255, 255, 255, 0.5);
        width: fit-content;
        padding: 5px;
        border-radius: 5px;
      }

      .items__text__quantity {
        text-align: end;
        font-size: 13px;
      }

      button {
        background-color: transparent;
        font-size: 14px;
        border: none;
        text-align: end;

        i {
          color: $color__secondary;

          &:hover::before {
            @include transition(all, .25s);
            @include scale(1.2);
          }
        }
      }
    }

    #total__container {
      @include position;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
    }

    .total {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 15px;

      .total__points {
        font-size: 20px;
        font-weight: bold;
        color: $color__secondary;
      }
    }
  }

  // animation button
  // .animation__button {

  //   &-enter-active,
  //   &-leave-active {
  //     transition: all 0.25s ease;
  //   }

  //   &-enter-from,
  //   &-leave-to {
  //     color: red;
  //   }
  // }

  // animation card
  .animation__cards {

    &-enter-active,
    &-leave-active {
      transition: all 0.7s cubic-bezier(.83, .35, .72, .81);
    }

    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translateY(700px);
    }
  }

  // animation items
  .animation__items {

    &-enter-active,
    &-leave-active {
      transition: all 0.25s cubic-bezier(.83, .35, .72, .81);
    }

    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translateX(-300px);
    }
  }
}

footer {
  @include position;
  background-color: $color__secondary;
  width: 100%;
  height: 100px;
  box-shadow: 0 0.5px 4px -2px #808080;

  .text__footer {
    background-color: $color__primary;
    border-radius: 5px;
    padding: 0 10px;
    box-shadow: 0 0.5px 4px -2px #808080;

    &::after {
      content: url(../img/smile.png);
    }
  }
}