@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: "Syne Mono", monospace;
  outline: none !important;
}
* h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
}
* h1,
* h2,
* h3,
* p,
* i {
  color: black;
}

body {
  background-color: #f5f5f5;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 10px 50px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.5px 4px -2px #808080;
}
nav img {
  width: 75px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  column-gap: 200px;
}
nav ul i {
  color: black;
}
nav ul i:hover {
  color: rgba(12, 34, 49, 0.6);
}
nav ul i::before {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  font-size: 32px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
main div.main__description {
  margin-bottom: 100px;
}
main div.home__container {
  text-align: left;
  width: 100%;
}
main div.home__container h1 {
  margin-left: 100px;
}
main #search {
  -webkit-transition: box-shadow 0.12 ease;
  -moz-transition: box-shadow 0.12 ease;
  -o-transition: box-shadow 0.12 ease;
  transition: box-shadow 0.12 ease;
  background-color: #fff;
  margin-left: 100px;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  width: 20%;
  min-width: 150px;
}
main #search:focus {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
main div.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: initial;
  flex-wrap: wrap;
}
main div.card {
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  background-color: white;
  margin: 20px;
  width: 250px;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
main div.card:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
main .card__description {
  position: relative;
  background-color: white;
}
main .fadedbox {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  position: absolute;
  background: linear-gradient(to top, white 25%, transparent);
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
}
main .card:hover .fadedbox,
main .card:hover .show {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}
main .show {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
main img {
  width: 250px;
}
main div.item__text {
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -o-transform: translateY(15px);
  transform: translateY(15px);
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding: 20px;
}
main div.item__text .item__description {
  width: 100%;
  text-align: left;
}
main div.item__text .item__points {
  width: 100%;
  text-align: right;
}
main div.item__text .item__points span {
  background-color: #048A81;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  font-size: 11px;
}
main .card__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: white;
}
main .card__icons::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -11px;
  right: 13%;
}
main .card__icons input {
  display: none;
}
main .card__icons input:checked + label i::before {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  color: #ff0000;
}
main .card__icons .like__container label {
  background-color: white;
}
main .card__icons .like__container label i {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  font-size: 20px;
}
main .card__icons .like__container label i:hover {
  color: rgba(255, 0, 0, 0.3);
}
main .card__icons .basket__container button {
  background-color: white;
  border: none;
}
main .card__icons .basket__container button i {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  font-size: 20px;
}
main .card__icons .basket__container button i:hover {
  color: #019875;
}

/*# sourceMappingURL=style.css.map */
