@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: "Syne Mono", monospace !important;
  outline: none !important;
}
* h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
}
* h2 {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}
* h1,
* h2,
* h3,
* p,
* i {
  color: black;
}

body {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(198, 198, 198);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 10px 50px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.5px 4px -2px #808080;
}
nav img {
  width: 75px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  column-gap: 200px;
}
nav ul i {
  color: black;
}
nav ul i:hover {
  color: rgba(7, 41, 11, 0.6);
}
nav ul i::before {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  font-size: 32px;
}
nav ul li#main,
nav ul li#likes,
nav ul li#basket {
  pointer-events: none;
}
nav ul li#likes {
  position: relative;
}
nav ul #likes__notif {
  position: absolute;
  visibility: hidden;
  top: 1px;
  right: -3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff0000;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 100px auto;
}
main div.main__description {
  margin-bottom: 100px;
}
main div.home__container {
  text-align: left;
  width: 100%;
}
main div.home__container h1 {
  margin-left: 100px;
}
main #search {
  -webkit-transition: box-shadow 0.15 ease;
  -moz-transition: box-shadow 0.15 ease;
  -o-transition: box-shadow 0.15 ease;
  transition: box-shadow 0.15 ease;
  background-color: #fff;
  margin-left: 100px;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  width: 20%;
  min-width: 150px;
}
main #search:focus {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
main .card__wrap__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2rem;
}
main div.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: initial;
  flex-wrap: wrap;
  width: 75%;
}
main div.card {
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  background-color: white;
  margin: 20px;
  width: 250px;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
main div.card:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
main .card__description {
  position: relative;
  background-color: white;
}
main .fadedbox {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  position: absolute;
  background: linear-gradient(to top, white 25%, transparent);
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
}
main .card:hover .fadedbox,
main .card:hover .show {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}
main .show {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
main img {
  width: 250px;
}
main div.item__text {
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -o-transform: translateY(15px);
  transform: translateY(15px);
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding: 20px;
}
main div.item__text .item__description {
  width: 100%;
  text-align: left;
}
main div.item__text .item__points {
  width: 100%;
  text-align: right;
}
main div.item__text .item__points span {
  background-color: #87a180;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  font-size: 11px;
}
main .card__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: white;
}
main .card__icons::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -11px;
  right: 13%;
}
main .card__icons input {
  display: none;
}
main .card__icons input:checked + label i::before {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  color: #ff0000;
}
main .card__icons .like__container label {
  background-color: white;
}
main .card__icons .like__container label i {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  font-size: 20px;
}
main .card__icons .like__container label i:hover {
  color: rgba(255, 0, 0, 0.3);
}
main .card__icons .basket__container button {
  -webkit-transition: transform 0.25s ease;
  -moz-transition: transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  background-color: white;
  border: none;
}
main .card__icons .basket__container button:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
main .card__icons .basket__container button i {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  font-size: 20px;
}
main .card__icons .basket__container button i:hover {
  color: #019875;
}
main .shopping__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #87a180;
  width: 30%;
  height: auto;
  padding: 30px;
  border-radius: 6px;
  row-gap: 20px;
  max-height: 59vh;
}
main .shopping__container ::-webkit-scrollbar-thumb {
  display: none;
}
main .shopping__container:hover ::-webkit-scrollbar-thumb {
  background: rgb(198, 198, 198);
  display: inherit;
}
main .shopping__container:hover ::-webkit-scrollbar {
  width: 5px;
}
main .shopping__container .overflow {
  overflow: overlay;
  border-top: 3px solid rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  width: 100%;
}
main .shopping__container .items__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  border-bottom: 2px solid rgba(198, 198, 198, 0.3);
  width: 100%;
  padding: 20px 0;
}
main .shopping__container .card__img {
  width: 100px;
  height: auto;
  aspect-ratio: 1/1;
  margin-right: 15px;
  border-radius: 40%;
}
main .shopping__container .items__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: inherit;
}
main .shopping__container .items__text .text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 10px;
}
main .shopping__container .items__text hr {
  width: 100%;
  height: 10px;
  border: none;
}
main .shopping__container .items__text .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: end;
  align-items: flex-end;
  column-gap: 7px;
}
main .shopping__container .items__text .items__text__description {
  font-weight: bold;
  text-align: left;
}
main .shopping__container .items__text .items__text__points {
  background-color: rgba(255, 255, 255, 0.5);
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}
main .shopping__container .items__text .items__text__quantity {
  text-align: end;
  font-size: 13px;
}
main .shopping__container .items__text button {
  background-color: transparent;
  font-size: 14px;
  border: none;
  text-align: end;
}
main .shopping__container .items__text button i {
  color: white;
}
main .shopping__container .items__text button i:hover::before {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
main .shopping__container #total__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
main .shopping__container .total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 15px;
}
main .shopping__container .total .total__points {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
main .animation__cards-enter-active, main .animation__cards-leave-active {
  transition: all 0.7s cubic-bezier(0.83, 0.35, 0.72, 0.81);
}
main .animation__cards-enter-from, main .animation__cards-leave-to {
  opacity: 0;
  transform: translateY(700px);
}
main .animation__items-enter-active, main .animation__items-leave-active {
  transition: all 0.25s cubic-bezier(0.83, 0.35, 0.72, 0.81);
}
main .animation__items-enter-from, main .animation__items-leave-to {
  opacity: 0;
  transform: translateX(-300px);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 100px;
  box-shadow: 0 0.5px 4px -2px #808080;
}
footer .text__footer {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 0 10px;
  box-shadow: 0 0.5px 4px -2px #808080;
}
footer .text__footer::after {
  content: url(../img/smile.png);
}

/*# sourceMappingURL=style.css.map */
