@import './reset.scss';
@import './mixins.scss';

body {
    background-color: whitesmoke;
}

nav {
    @include position;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -3px rgba(0, 0, 0, 0.2),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);

    img {
        width: 75px;
    }

    ul {
        @include position;
        flex-direction: row;
        column-gap: 200px;

        li::before {
            font-size: 32px;
            transition: color .25s;
        }

        li:hover {
            color: rgb(1, 1, 1, 0.6);
        }
    }
}

main {
    @include position;
    padding: 50px;
}

