// variables scss //
// default theme
$color__primary: #f5f5f5;
$color__secondary: #f5f5f5;
$color__tertiary: #07290b;
$color__tertiary__hover: rgba($color__tertiary, .6);
$color__important: #87a180;

// add conditions of colors
@import "./conditions.scss";
